<div  class="header sticky-top">
    

 <table>
    <tr >    
        <td style="padding-left: 2%;" ><img src="../../assets/Uploads/cart.png"  width="10%" height="20%" alt="">
              <h3 class="heading">ShopNow</h3></td>
  
         <td> <button  style="margin-left: 14em;">Home</button></td>
     
        <td >
          <a > 
            <button>Cart</button> 
            <button >Wishlist</button></a> 
    
        </td>      
    </tr>
      
    </table> 
</div> 
<!-- </nav> -->
     