    <div style="background-color: black; height: 80%;">
        <div class="row row-cols-2">
            <div >
     <ul >
          
    <div ><small style="color: white;">Social Media</small>
    <div><a ><img style="padding-top: 5px;"  src="../../assets/Uploads/fb.png" width="5%" height="5%" alt=""></a></div>    
      <div ><a ><img style="padding-top: 5px;"   src="../../assets/Uploads/inst.jpg" width="5%" height="5%"  alt=""></a></div>  
     <div ><a ><img style="padding-top: 5px;"  src="../../assets/Uploads/twt.png" width="5%" height="5%" alt=""></a></div>  
        </div>
     </ul></div>
     <div class="col">
     <ul style="color: white;">
      <div><a>About Us</a></div>   
        <div><a>Contact Us</a></div> 
       <div><a>Payments</a></div>  
       <div><a>Shipping</a></div>  



     </ul></div>   </div>
      <!-- Copyright -->
      <div style="color: white;" class="footer-copyright text-center py-3">© 2022 Copyright:
      </div>    </div>
    
      <!-- Copyright -->
    
  